
@media only screen and (min-width: 769px) {
    .img-thumbnail {
        max-width: 25%;
    }
    .img-fluid {
        border : 0;

    }
}

@media only screen and (max-width: 768px) {
    .img-thumbnail {
        max-width: 30%;
    }
    ul {
        display: flex;
        margin: initial;
        margin-left: auto;
    }
}

@media only screen and (max-width: 640px) {
    .body {
        width: auto;
    }
    .img-thumbnail {
        max-width: 95%;
        display: block;
        float: none;
        margin-left: 2%;
    }
    .img-fluid {
        padding-top: 1%;
    }
    .navbar-brand {
        margin: 0;
        width: 100%;
    }
    .col-xs-12 {
        padding-right: 0%;
        padding-left: 0%;
    }
    .row {
        margin-left: 0;
        margin-right: 0;
    }
    .row-2 {
        padding-left: 2%;
    }
    .row-3 {
        padding: 1%;
    }
    .container-fluid {
        text-align: left;
    }
}